[submodule "NoGUI"]
	path = NoGUI
	url = https://github.com/noloitering/NoGUI.git
[submodule "NoMEM"]
	path = NoMEM
	url = https://github.com/noloitering/NoMEM.git
[submodule "NoECS"]
	path = NoECS
	url = https://github.com/noloitering/NoECS.git
